<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{{ post.caption }}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

<h2>{{ post.author.username }}</h2>
<p>{{ post.caption }}</p>

{% for img in post.images.all %}
    <img src="{{ img.image.url }}" alt="Зображення" width="300">
{% endfor %}

<div>
    <button id="like-btn" data-post-id="{{ post.pk }}">
        {% if is_liked %} ❤️ Лайкнуто {% else %} ♡ Лайкнути {% endif %}
    </button>
    <span id="likes-count">{{ post.likes.count }}</span> лайків
</div>

<script>
        function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

    $.ajaxSetup({
        headers: { "X-CSRFToken": csrftoken }
    });

    $(document).ready(function () {
        $("#like-btn").click(function () {
            const postId = $(this).data("post-id");
            const url = `/post/${postId}/like/`;

            $.ajax({
                url: url,
                type: "POST",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                success: function (response) {
                    const isLiked = response.is_liked;
                    const likesCount = response.likes_count;

                    $("#likes-count").text(likesCount);

                    if (isLiked) {
                        $("#like-btn").text("❤️ Лайкнуто");
                    } else {
                        $("#like-btn").text("♡ Лайкнути");
                    }
                }
            });
        });
    });
</script>

<a href="{% url 'home' %}">← Назад до стрічки</a>

</body>
</html>