<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{{ post.caption }}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

<h2>{{ post.author.username }}</h2>
<p>{{ post.caption }}</p>

{% for img in post.images.all %}
    <img src="{{ img.image.url }}" alt="Зображення" width="300">
{% endfor %}

<div>
    <button id="like-btn" data-post-id="{{ post.pk }}">
        {% if is_liked %} ❤️ Лайкнуто {% else %} ♡ Лайкнути {% endif %}
    </button>
    <span id="likes-count">{{ post.likes.count }}</span> лайків
</div>

<script>
        function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

    $.ajaxSetup({
        headers: { "X-CSRFToken": csrftoken }
    });

    $(document).ready(function () {
        $("#like-btn").click(function () {
            const postId = $(this).data("post-id");
            const url = `/post/${postId}/like/`;

            $.ajax({
                url: url,
                type: "POST",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                success: function (response) {
                    const isLiked = response.is_liked;
                    const likesCount = response.likes_count;

                    $("#likes-count").text(likesCount);

                    if (isLiked) {
                        $("#like-btn").text("❤️ Лайкнуто");
                    } else {
                        $("#like-btn").text("♡ Лайкнути");
                    }
                }
            });
        });
    });
</script>
<p>
    теги:
    {% for pt in post.post_tags.all %}
      <span class="badge bg-secondary">#{{ pt.tag.name }}</span>
    {% empty %}
      <em>Немає тегів</em>
    {% endfor %}
</p>
<h3>Коментарі ({{ comments.count }})</h3>
{% for comment in comments %}
    <div style="margin-bottom: 10px;">
        <strong>{{ comment.user.username}}</strong>: {{ comment.content }}<br>
        <small>{{ comment.created_at|date:"d.m.Y" }}</small>
    </div>
{% empty %}
    <p>Ще немає коментарів</p>
{% endfor %}

{% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit" name="comment_submit">Додати</button>
    </form>
{% else %}
    <p><a href="{% url 'login' %}?next={{ request.path }}">Увійди</a>, щоб коментувати</p>
{% endif %}
<a href="{% url 'home' %}">← Назад до стрічки</a>

</body>
</html>